<div style="height: 100%;" class="w-100 bg-dark d-flex align-items-center justify-content-center">
    <video
    style='width: 80vw;height: 40vw;'
    id="my-video"
    class="video-js"
    controls
    preload="auto"
    poster="MY_VIDEO_POSTER.jpg"
    data-setup="{}"
>
    <source [src]="url" type="video/mp4" />
    <source [src]="url" type="video/webm" />
    <p class="vjs-no-js">
    To view this video please enable JavaScript, and consider upgrading to a
    web browser that
    <a href="https://videojs.com/html5-video-support/" target="_blank"
        >supports HTML5 video</a
    >
    </p>
</video>

</div>